{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" id="loginform"  method="post" data-ajax="false">>
	<fieldset>
		<section><label for="username">Username</label>
			<div><input type="text" id="username" name="_username" value="{{ last_username }}" autofocus></div>
		</section>
		<section><label for="password">Password <a href="#">lost password?</a></label>
			<div><input type="password" id="password" name="_password"></div>
			<div><input type="checkbox" id="remember" name="_remember_me" value="on"><label for="remember" class="checkbox">remember me</label></div>
		</section>
		<section>
			<div><button class="fr submit" name="_submit">Login</button></div>
		</section>
	</fieldset>
</form>
{% endblock fos_user_content %}



